each dj in djs
  .dj
    h2.dj__title= dj.name
    p.dj__city= dj.city
    .dj__img
      img(src=`/assets/img/djs/${dj.img}.jpg` alt=dj.name)
    .dj__about
      p.dj__desc= dj.desc
    .dj__music-list
      if dj.sets.length > 0
        each set in dj.sets
          .dj__music-item
            iframe(src=set)


form.dj__form#djadd(method='post')
  h2 Добавить Dj
  .status
  input(type='text' name='name' placeholder='name')
  input(type='text' name='img' placeholder='img')
  input(type='text' name='city' placeholder='city')
  textarea(name='desc' placeholder='desc')
  input(type='submit' value='Добавить Dj')

