.food-menu
  .container
    h1.food-menu__title Меню
    ul.food-menu__list
      each item in menu
        li.food-menu__item
          p.food-menu__item-title= item.section
            span.food-menu__toggle
              span
              span
              span
          if item.items.length > 0
            ul.food-menu__category-list
              each i in item.items
                li.food-menu__category-item
                  div.food-menu__category-name=i.name
                  div.food-menu__img
                    img(src=`/assets/img/food/` + ((i.img) ? `${i.img}` : 'ludi.png'), alt=i.name)
                  if i.desc
                    div.food-menu__category-desc=i.desc
                  div.food-menu__category-weight
                    = `${i.weight}` + ((i.unit) ? `${i.unit}` : `гр`) + `/${i.price}₽`