-
  var foodMenu = {
  'Холодные закуски': [
  {
  name: 'АССОРТИ МАРИНОВАННЫХ ГРИБОВ',
  desc: 'Вешенки, опята, шампиньоны.',
  descEn: 'Assorted pickled mushrooms (oyster mushrooms, honey agarics, cham-pignons.',
  weight: '220',
  price: '200'
  },
  {
  name: 'ОЛИВКИ',
  desc: 'Микс из европейских оливок : соленые, вяленые, каламаты.',
  descEn: 'Mix of European olives: salted, dried, kala-mata.',
  price: '250',
  weight: '100'
  },
  {
  name: 'РОСТБИФ ИЗ ГОВЯЖЬЕЙ ВЫРЕЗКИ',
  desc: 'С гарниром из смеси запеченных Чили и сладкого перца с вялеными оливками.',
  descEn: 'Roasted beef fillet. Side dish - baked chili and bell pepper with dried olives.',
  price: '250',
  weight: '100'
  },
  {
  name: 'ПАШТЕТ ИЗ ПТИЦЫ',
  desc: 'Нежный паштет из куриного филе, бедра индейки и куриной печени.',
  descEn: '',
  price: '460',
  weight: '200'
  },
  {
  name: 'ПАРМСКИЙ ОКОРОК',
  desc: 'С хурмой и хрустящей зеленью.',
  descEn: 'with persimmons and crispy greens.',
  price: '430',
  weight: '180'
  },
  {
  name: 'АССОРТИ МЯСНЫХ ИЗДЕЛИЙ',
  desc: 'Утиная грудка копченая и выдержаная в бальзамическом маринаде, мраморная говяжья грудинка горячего копче- ния, мягкая свиная шея запеченая в специях.',
  descEn: 'Smoked duck breast seasoned in balsamic marinade; hot-smoked marble beef brisket; soft pork neck baked with spices.',
  price: '1300',
  weight: '340'
  },
  {
  name: 'СЫРНАЯ ТАРЕЛКА',
  desc: 'Шевр, сыр бри с белой плесенью, грана подано, гор- гонзола, рикота собственного копчения.',
  descEn: 'Chevre, Brie cheese with white mold, Grana Padano, Gorgonzola, smoked ricotta cheese and crispy greens.',
  price: '1300',
  weight: '340'
  }
  ],
  'Горячие закуски': [
  {
  name: 'МОЗГОВЫЕ КОСТИ',
  desc: 'Запеченные на гриле с луком конфи.',
  descEn: 'Marrowbones grilled with onion confit.',
  price: '480',
  weight: '450/50'
  },
  {
  name: 'МИЛЬФЕЙ',
  desc: 'С ЖУЛЬЕНОМ ИЗ КРОЛИКА',
  descEn: '',
  price: '750',
  weight: '190'
  },
  {
  name: 'СЫР КАМАМБЕР ЖАРЕНЫЙ',
  desc: 'на гриле с соусом пряная клюква, бразильским орехом и миксом салата.',
  descEn: 'Grilled Camembert cheese with spicy cranberry sauce, Brazil nut and lettuce mix.',
  price: '700',
  weight: '180'
  }
  ],
  'Салаты': [
  {
  name: 'САЛАТ С ДВУМЯ СЫРАМИ',
  desc: 'С жаренным сыром Бри и сыром рикота соб- ственного копчения. Подаем с миксом салата, вяленными томатами, песто из базилика и кедровых орехов и томатным песто.',
  descEn: 'Salad with fried Brie cheese and smoked ricotta cheese. It is served with lettuce mix, dried tomatoes, basil and pine nuts pesto and pesto.',
  price: '530',
  weight: '210'
  },
  {
  name: 'САЛАТ С ИНДЕЙКОЙ',
  desc: 'В зеленой панировке, болгарским перцем, томатом черри, соусом руй из печеных болгарских сладких перцев, соусом кинзовый айоли и миксом салата.',
  descEn: 'Salad with turkey in green breading, bell pepper, cherry tomatoes, Ruy sauce made of baked bell pepper, coriander aioli sauce and lettuce mix.',
  price: '440',
  weight: '230'
  },
  {
  name: 'САЛАТ ИЗ ФИЛЕ КРОЛИКА',
  desc: 'Обжаренном в слайсах бекона. Подаем с кус-ку- сом, жаренным ассорти грибов, морковно-тмино- вым соусом, томатами черри, оливковым маслом, слайсами моркови.',
  descEn: 'Salad with rabbit fillet fried in bacon slices. It is served with couscous, assorted fried mushrooms, carrot and caraway sauce, cherry tomatoes, olive oil, carrot slices.',
  price: '420',
  weight: '200'
  },
  {
  name: 'САЛАТ С ПАРМОЙ И ГРУШЕЙ',
  desc: 'приготовленной методом су-вид с копченой папри- кой. Подаем с песто из базилика и кедрового ореха и томатным песто.',
  descEn: 'Salad with Parma and sous-vide pears with smoked paprika. It is served with basil and pine nuts pesto and tomato pesto.',
  price: '370',
  weight: '210'
  },
  {
  name: 'САЛАТ С МРАМОРНОЙ ГОВЯДИНОЙ',
  desc: 'слайсами свежего огурца, пармезана, оливковым маслом, свежей спаржей и сырным муссом.',
  descEn: 'Salad with marble beef, slices of fresh cucumber and parmesan cheese, olive oil, green asparagus and cheese mousse.',
  price: '680',
  weight: '185'
  }
  ],
  'Супы': [
  {
  name: 'ТОМАТНЫЙ СУП ГУЛЯШ',
  desc: 'Бульон с говядиной подается с отрубом топ Блейд и классическим набором овощей, приготовленных методом су-вид.',
  descEn: 'Tomato goulash soup (beef broth is served with a Top Blade steak and classic set of sous-vide vegetables).',
  price: '680',
  weight: '350'
  },
  {
  name: 'ГРИБНОЙ КРЕМ-СУП',
  desc: 'С жаренным ассорти грибов и молочной пеной.',
  descEn: 'Mushroom cream soup with fried assorted mushrooms and cream foam.',
  price: '320',
  weight: '310'
  },
  {
  name: 'КРЕМ-СУП ИЗ БЕКОНА',
  desc: 'С луком порей, яйцом, муссом из лука порей и крошкой бекона.',
  descEn: 'Bacon cream soup with leek, eggs, leek mousse and bacon chips.',
  price: '450',
  weight: '330'
  }
  ]
  }
//    'Основные Блюда': [],
//    'Рыбные Блюда': [],
//    'Стейки': []
  }

.food-menu
  .container
    h1.food-menu__title Наше Меню
    ul.food-menu__list
      each key, val in foodMenu
        li.food-menu__item
          p.food-menu__item-title= val
          if key.length > 0
            ul.food-menu__category-list
              each item in key
                li.food-menu__category-item
                  div.food-menu__category-name=item.name
                  div.food-menu__category-desc=item.desc
                  div.food-menu__category-weight
                    = `${item.weight}гр/${item.price}₽`






        //  ul.food-menu__sub-list


            //each item in key
