.food-menu
  .container
    h1.food-menu__title Меню
    ul.food-menu__list
      each sections in menu
        li.food-menu__item
          p.food-menu__item-title= sections.section
            span.food-menu__toggle
              span
              span
              span
          if sections.items.length > 0
            ul.food-menu__category-list
              each item in sections.items
                li.food-menu__category-item
                  div.food-menu__category-name=item.name
                  div.food-menu__img
                    img(src=`/assets/img/food/` + ((item.img) ? `${item.img}` : 'ludi.png'), alt=item.name)
                  if item.desc
                    div.food-menu__category-desc=item.desc
                  div.food-menu__category-weight
                    = `${item.weight}` + ((item.unit) ? `${item.unit}` : `гр`) + `/${item.price}₽`